{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} | Account Login{% endblock title %}
{% block content %}
<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Log In</h4>
            </div>
            <div class="card-body">

              <form method="post">
              {% csrf_token %}
            <div class="form-group ">
             {{ form|crispy }}
            </div>
          <button type="submit" class="btn btn-block btn-info">Log In</button>
          <div class="sign-up">
					Don't have an account? <a href=" {% url 'account_signup' %}">Create One</a><br>
         <a href="{% url 'account_reset_password' %}" style="font-size:14px;">Forgot password ?</a>
				</div>
            <div class="sign-up">
				  
         
              <hr/>
              OR
				</div>
           </form>
        </div>
          </div>
        </div>
      </div>
    </div>
  </section>




{% endblock content %}